<!Doctype html>
<html>
    <head>
        <link href="{{ asset('bundles/sonataadmin/vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/css/bootstrap3-wysihtml5.min.css') }}" rel="stylesheet">
        <link href="{{ asset('/bundles/sonataadmin/vendor/AdminLTE/css/AdminLTE.css') }}" rel="stylesheet">
    </head>

    <body>

        <div class="container col-lg-8 col-lg-offset-3">
            <div class="col-lg-12">
                <h3 class="text-center">Авторизація</h3>
            </div>

            {% if error %}
                <div>{{ error.message }}</div>
            {% endif %}

            <div class="col-lg-12 thumbnail">
                <form action="{{ path('login_check') }}" method="POST">
                    <div class="col-lg-12">
                        <div class="col-lg-6">
                            <label for="username">{{ 'login'|trans }}:</label>
                        </div>

                        <div class="col-lg-6">
                            {{ form_widget(form._username) }}
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="col-lg-6">
                            <label for="password">{{ 'password'|trans }}:</label>
                        </div>

                        <div class="col-lg-6">
                            {{ form_widget(form._password) }}
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-success col-lg-offset-3 col-lg-6" name="btnSubmit">{{ 'submit'|trans }}</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>