<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{{ sing_in_title|trans }}</title>

    <link href="{{ asset('bundles/sonataadmin/vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/signin.css') }}" rel="stylesheet">
</head>

<body>

<div class="container">

    <form class="form-signin">
        <h2 class="form-signin-heading">{{ sing_in_message|trans }}</h2>
        <label for="username" class="sr-only">{{ 'login'|trans }}:</label>
        {{ form_widget(form._username) }}

        <label for="password" class="sr-only">{{ 'password'|trans }}:</label>
        {{ form_widget(form._password) }}

        <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'submit'|trans }}</button>
    </form>

</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>